HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.DS_Store
!**/src/.umi/**
.idea/
*.gz
.run
*.iml
/target/
/.idea/
/log/
.arcconfig
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.date

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
mvnw
mvnw.cmd
uds/*
scrm-operation.log*
.DS_Store

flume/
**/.umi/*
**.DS_Store
node_modules
